<html>
  <head>
    <meta charset="utf-8">
    <title>The Book Nook</title>
    <link href="static/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Josefin+Sans" rel="stylesheet">
    <link rel="icon" href="data:,">
  </head>
  <body>
    <div style="margin: 0 auto; width: 80%;">
      <h1><a class="homelink" href="/">The Book Nook</a></h1>
      <div>
        <form action="/search" method="GET">
          <input class="textbox" type="text" name="term" required="" placeholder="Look for other books..."
          oninvalid="this.setCustomValidity('Please enter a search term.')"
          oninput="setCustomValidity('')"></input>
          <input class="button" type="submit" value="Look!"></input>
        </form>
      </div>
      <div>
      {% if empty %}
        <div>Sorry, no books were found for {{ keywords }}. Please try another search.</div>
      {% else %}
        <div>Here's what we found for your search on "{{ keywords }}."</div>
        {% for result in results %}
          <div class="card">
              <img src="{{ result.image() }}" alt="Book cover image">
            <div class="container">
                <div><b>{{ result.title() }}</b>
                  by {{ result.author() }}
                </div>
                <p><i>{{ result.publisher() }}</i></p>
              {% if result.info_link() %}
                <p><a href="{{ result.info_link() }}"><span class="clickable"></span>More details</a></p>
              {% else %}
                <i>{{ result.info_link() }}</i>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      {% endif %}
      </div>
    </div>
  </body>
</html>
