body {
  color: #656565;
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  width: 800px;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #001A4D;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 64;
}

h2 {
  color: #656565;
  font-family: 'Lato', sans-serif;
}

h3 {
  color: #5285F4;
  font-family: 'Lato', sans-serif;
}

img {
  display: block;
  margin: 0 auto;
}

a.homelink {
  color: inherit;
  text-decoration: inherit;
}

#book-bg:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('/static/book-bg.gif');
  background-repeat: no-repeat;
  background-size:100%;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: -1;
}

.textbox {
  width: 400px;
  height: 40px;
  box-shadow: 2px 2px grey;
  transition: 0.3s;
}

.button {
    background-color: #5285F4;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin-left: 20px;
}

.button:hover {
    background-color: #656565;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: right;
  font-family: 'Lato', sans-serif;
  font-size: 10;
}

.card {
  margin: 20px 4px 4px 0;
  display: inline-block;
  width: 260px;
  height: 360px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
  text-align: center;
  position: relative;
  padding: 20px 20px 0px 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card:hover {
  box-shadow: 0 8px 16px 0 #656565;
}

.card img {
  display: block;
  margin: 0 auto;
  height: 160px;
}

.container {
  padding: 16px 16px;
}

.clickable {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
